
@{
    ViewData["Title"] = "Registrar Enfermero";
}
<form action="Registro" method="get">
    <input type="text" name="Nombre" />
    <input type="text" name="Apellido" />
    <input type="text" name="Cedula" />
    <input type="text" name="Lugar de trabajo" />
    <input type="text" name="Horas de trabajo" />
    <input type="text" name="Salario" />
    <input type="submit" name="Enter" value="Enter" />
</form>
